<div class="container">
    <fieldset class="form-signup">
        <legend class="form-signup-heading">Sign up</legend>
        <div class="alert alert-warning alert-box" style="display: none;">
            <strong>Warning!</strong> <span class="alert-content"></span>
        </div>
        <input data-bind="value: username" type="text" class="form-control" placeholder="Username"/>
        <input data-bind="value: displayName" type="text" class="form-control" placeholder="Display Name"/>
        <input data-bind="value: password" type="password" class="form-control" placeholder="Password"/>
        <button data-bind="click: register" class="btn btn-lg btn-primary btn-block btn-submit">Sign up</button>
    </fieldset>
</div>