<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/">Home</a></li>
                <li><a href="#/posts">Posts</a></li>
                <li><a href="#/posts/create">Create post</a></li>
                <li><a href="#/comments">Comments</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Something <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/">by Category</a></li>
                        <li><a href="#/">by Nakov</a></li>
                        <li><a href="#/">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#/">Something elsek</a></li>
                        <li><a href="#/">Awesome link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <button type=button class="btn btn-success" onclick="location.href='#/logout';">Sign out</button>
            </form>
        </div>
    </div>
</div>