html,
body,
div,
form,
input,
button,
a {
  margin: 0;
  padding: 0;
}

body
{
	font-family: Cambria, 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', serif;
	font-size:18px;
	color:white;
	
	
	#wrapper {
		border:1px solid black;
		width:410px;
		height:400px;
		margin:25px 5px 5px 25px;		
		border-radius:15px;
		background: -moz-linear-gradient(top, #eafe5b 0%, #464644 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eafe5b), color-stop(100%,#464644)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #eafe5b 0%,#464644 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #eafe5b 0%,#464644 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #eafe5b 0%,#464644 100%); /* IE10+ */
	}	

	#wrapper form {
		width:380px;
		margin:15px;
		text-align: right;

		fieldset {
		  padding-right: 15px;
		  text-align: right;
		  display: block;
		  margin: 3px auto;
		  border: 3px solid #555555;
		  border-radius: 5px;

		  legend {
			  padding: 0 15px;
			  font-size: 20px;
			  font-weight: bold;
			  font-style: italic;
		  }

		  label {
			  display: inline-block;	
			  font-size:15px;		 		  
		  }

		  input {
		    color:white;
		    width:160px;
			height:23px;
			padding: 2px 10px;
			border:2px solid #444444;
			margin-top:5px;			
			border-radius:5px;
			background: -moz-linear-gradient(top, #d3e457 0%, #e2f55a 4%, #4d4e45 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3e457), color-stop(4%,#e2f55a), color-stop(100%,#4d4e45)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #d3e457 0%,#e2f55a 4%,#4d4e45 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #d3e457 0%,#e2f55a 4%,#4d4e45 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #d3e457 0%,#e2f55a 4%,#4d4e45 100%); /* IE10+ */
		  }

		  input#tb-age {
			width:40px;
			color:white;
		  }		 

		  
		}

		fieldset:last-child {margin-bottom:5px}
		font-size:16px;
		
	    input[type=radio] {display:none}
		input:checked + label {font-weight:bold}	  

		button, input[type=reset] {
			color:#333333;
			font-size:18px;
			padding:5px 17px;
			margin-top:15px;
			border:none;
			border-bottom:1px solid black;
			border-radius:5px;
			background: -moz-linear-gradient(top, #e3fd28 0%, #464644 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3fd28), color-stop(100%,#464644)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #e3fd28 0%,#464644 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #e3fd28 0%,#464644 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #e3fd28 0%,#464644 100%); /* IE10+ */
			
				&:hover {background:#F1FF8E}	
		  }

		  		  
	}
}