body {
    margin:0px;
    padding: 10px 10px;
}

#board {
    width:660px;
    height:660px;
    float:left;
}

    #board .row {
    }

    #board .row:after {
	    content: "";
	    display: block;
	    clear: both;
	    visibility: hidden;
    }

    #board .row div.cell {
        width:80px;
        height:80px;
        border:1px groove black;
        float:left;
        font-size:4em;
        text-align:center;
    }

        #board .row div.white-cell {
            background-color: white;
        }

            #board .row div.white-cell:hover {
                background-color:#CDE5F2;
            }

        #board .row div.black-cell {
            background-color: darkgray;
        }

            #board .row div.black-cell:hover {
                background-color:#CDE5F2;
            }

        #board .row div.cell span {
            cursor:pointer;
        }

#score-field {
    margin:0px 30px;
    width:200px;
    height:500px;
    background-color:#CDE5F2;
    float:left;
}

    #score-field #pieces {
        margin-bottom:10px;
        font-size:1.3em;
    }        
        
